provider: ""

ciliumNetworkPolicy:
  enabled: false

image:
  name: "giantswarm/rbac-operator"

pod:
  user:
    id: 1000
  group:
    id: 1000

registry:
  domain: gsoci.azurecr.io

oidc:
  customer:
    write_all_group: ""
    write_all_groups: []
    read_all_groups: []
  giantswarm:
    write_all_group: ""
    write_all_groups: []

# Add seccomp to pod security context
podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  seccompProfile:
    type: RuntimeDefault

serviceMonitor:
  enabled: true
  # -- (duration) Prometheus scrape interval.
  interval: "60s"
  # -- (duration) Prometheus scrape timeout.
  scrapeTimeout: "45s"

global:
  podSecurityStandards:
    enforced: true
